body{
	position: absolute;
	padding: 0px;
	width:100%;
	height:100%;
}
ul li{
	display: inline;
	padding-right: 12.5px;
	padding-left: 12.5px;
}
ul li a{
	color: white;
}
ul{
	text-align: center;
}
ul li a:hover{
	padding:14px;
	padding-left:20px;
	padding-right:20px;
	background-color:#B32C49;
}
ul li a.visited{
	font-size:19px;
	 padding:14px;
	 padding-left:20px; 
	 padding-right:20px; 
	 background-color:#B32C49;
}
.li{
	float:right; list-style:none;padding-top:12px;padding-right:400px;
}
.a{
	color:white;
}
.a:hover{
 text-decoration: underline;
}
.go{
	font-weight:100; 
	border:1px solid; 
	border-color:#286984; 
	color:#286984; 
	padding:2px;
	padding-left:42px;
	padding-right:42px;
}
.go:hover{
	font-weight:100; 
	border:1px solid; 
	border-color:#286984; 
	background-color:#286984; 
	color: white; 
	padding:2px;
	padding-left:42px;
	padding-right:42px;
}
.bt{
	background-image: url(img/about.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.head{
	font-size:40px; font-weight:300;
}
.h3s{
	color:white; font-weight:300;padding-top:100px; text-align:center; padding-bottom:150px;
}
.dgs{
	
}